<% if !badges.size.zero? %>
  <% badges.each do |badge| %>
    <div title="<%= badge.name %>" class="ui-badge text-center <%= 'gray-filter' unless current_user.has_badge?(badge) %>" data-badge-id="<%= badge.id %>">
      <%= image_tag(asset_path("badges_icons/svg/#{badge.icon_url}"), class: "#{'scaled-img' if badge.stars.nil?}") %>
      <% if !badge.stars.nil? %>
        <% (1..badge.stars).each do |i| %>
          <i id="<%= 'middle-star' if i == (badge.stars.fdiv(2).round) %>" class="fas fa-star"></i>
        <% end %>
      <% else %>
        <div style="height: 30px;"></div>
      <% end %>
      <div class="svg-background">
        <svg viewBox="0 0 100 130">
          <path fill="<%= badge.color[:background] %>" stroke="<%= badge.color[:outline] %>" stroke-width="3" d="M10 10 V100 l40 20 l40 -20 V10 Z"></path>
        </svg>
      </div>
    </div>

    <div class="badge-info-window-container" id="badge-<%= badge.id %>">
      <div class="badge-info-window">
        <div class="badge-info-window-top">
          <i id="close-badge-window" class="fas fa-times"></i>
        </div>
        <div class="badge-info-window-image">

          <div title="<%= badge.name %>" class="ui-badge text-center <%= 'gray-filter' unless current_user.has_badge?(badge) %> ">
            <%= image_tag(asset_path("badges_icons/svg/#{badge.icon_url}"), class: "#{'scaled-img' if badge.stars.nil?}") %>
            <% if !badge.stars.nil? %>
              <% (1..badge.stars).each do |i| %>
                <i id="<%= 'middle-star' if i == (badge.stars.fdiv(2).round) %>" class="fas fa-star"></i>
              <% end %>
            <% else %>
              <div style="height: 30px;"></div>
            <% end %>
            <div class="svg-background">
              <svg viewBox="0 0 100 130">
                <path fill="<%= badge.color[:background] %>" stroke="<%= badge.color[:outline] %>" stroke-width="3" d="M10 10 V100 l40 20 l40 -20 V10 Z"></path>
              </svg>
            </div>
          </div>

        </div>

        <div class="badge-info-window-details text-center">
          <h4 class="px-4"><%= badge.name %></h4>
          <p class="px-5 mt-3"><%= badge.description %></p>
        </div>

      </div>
    </div>

  <% end %>
<% end %>
