<div class="collect-badge-window-container <%= 'collect-badge-appear' if badges.size > 0 %>">
  <div class="ui-card collect-badge-window py-4 px-5 text-center">
    <h2 class="pb-3">You earned <%= pluralize(badges.size, 'badge') %>!</h2>
    <% if badges.size > 0 %>
      <% badges.each do |badge| %>
      <div class="earned-badge-container">
        <%# Render badge image %>
        <div class="badge-image-container">
          <%= render 'shared/badges', badges: [badge] %>
        </div>
        <div class="text-left pl-3">
          <h4><%= badge.name %></h4>
          <p><%= badge.description %></p>
        </div>
        <%= simple_form_for(Action.new) do |f| %>
          <%= f.hidden :badge_id, badge.id %>
          <%= f.hidden :name, 'collect_badge' %>
          <%= f.submit %>
        <% end %>

        <button class="ui-btn">Collect</button>
      </div>
      <% end %>

    <% end %>
  </div>
</div>