<header class="ui-navbar">
  <div class="ui-navbar-brand">
    <%= link_to root_path do %>
    <h2 id="nav-h2">Greener</h2>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center">
      <span class='font-weight-bold text-white responsive-span'>
        <%= current_user.trees %>
        <i class="fas fa-tree nav-icons icon-score"></i>
      </span>
    </div>
    <div class="d-flex align-items-center">
      <span class='font-weight-bold text-white responsive-span'>
        <%= current_user.notifications.size %>
        <%= link_to users_notifications_path do %>
        <i class="fas fa-bell nav-icons icon-score"></i>
        <% end %>
      </span>
    </div>
    <div class="d-flex align-items-center">
      <%= link_to dashboard_path do %>
      <%= cl_image_tag current_user.avatar.attached? ? current_user.avatar.key : 'https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', height: 300, width: 400, crop: :fill, class: "avatar-large nav-avatar" %>
      <% end %>
      <button class="ui-icon-btn" id="open-menu-btn">
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
  </div>
  <% else %>
  <div class="d-flex align-items-center">
    <%= link_to "Sign up", new_user_registration_path, class: "text-white nav-btn" %>
    <%= link_to "Sign in", new_user_session_path, class: "text-white nav-btn"  %>
    <button class="ui-icon-btn" id="open-menu-btn">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <% end %>
</header>

<!-- navbar -->

<%= render 'shared/nav_menu' %>
