<div class="container">
  <div class="row">
    <div class="col-12">

      <h2>Categories:</h2>

      <div class="category-ui-cards">
        <div class="ui-card-grid">
          <div class="category-ui-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('water.jpg') %>')">
            <p>Water</p>
          </div>

          <div class="category-ui-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('home.jpg') %>')">
            <p>Home</p>
          </div>

          <div class="category-ui-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('waste.jpg') %>')">
            <p>Waste</p>
          </div>

          <div class="category-ui-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('transportation.jpg') %>')">
            <p>Transportation</p>
          </div>

          <div class="category-ui-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('energy.jpg') %>')">
            <p>Energy</p>
          </div>

          <div class="category-ui-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('food.jpg') %>')">
            <p>Food</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
