<%# Prompts for in the top %>
<% if !current_user.streak.zero? %>
<%= render 'shared/daily_streak_flash' %>
<% end %>

<% if !current_user.todays_challenge_completed? %>
<%= render 'shared/daily_challenge_flash' %>
<% end %>

<%# Render collect badge page (empty by default) on the right side of the screen %>
<%= render 'shared/collect-badge', badges: current_user.to_be_collected, action: @action %>

<div class="container">
  <div class="row mt-4">

    <div class="col-12 col-sm-10 offset-sm-1 offset-md-0 col-md-6">
      <%= render 'shared/progress_graph' %>
    </div>

    <div class="col-12 col-md-6">

    <% if current_user.badges.size > 0 %>
        <div class="ui-card m-0">
        <h2>My badges</h2>
        <div class="badges-container dashboard-badges">

          <%= render 'shared/badges', badges: current_user.badges %>
        </div>
      </div>
    <% end %>

      <div class="friends-ui-card m-0 mt-4">
        <h3>Ranking:</h3>

        <div class="friends-ui-cards-list">

          <% current_user.friends_sorted_by_trees.each do |friend| %>

          <div class="friend-ui-card">
            <%= cl_image_tag friend.avatar.attached? ? friend.avatar.key : 'https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', height: 300, width: 400, crop: :fill, class: "avatar" %>
            <div class="friend-name">
              <span class='ml-3'><%= friend.username %></span>
            </div>
            <div class="friend-trees">
              <%= friend.trees %>
              <i class="fas fa-tree"></i>
            </div>
          </div>

          <% end %>

        </div>

    </div>

  </div>
</div>


<div class="container">
  <%= render 'shared/categories', categories: @categories %>
</div>

<div style="height: 30px;"></div>

