<%# Prompts for in the top %>

<% if !current_user.streak_count.zero? %>
  <%= render 'shared/daily_streak_flash' %>
<% end %>

<% if !current_user.todays_progress[:daily_challenge_completed?] %>
  <%= render 'shared/daily_challenge_flash' %>
<% end %>

<div class="container">
  <div class="row">

    <div class="col-12 col-sm-10 offset-sm-1 offset-md-0 col-md-6">
      <%= render 'shared/progress_graph' %>
    </div>

    <div class="col-12 col-md-6">
      <%= render 'shared/badges', badges: current_user.badges %>
    </div>

  </div>
</div>


<div class="container">
  <%= render 'shared/categories', categories: @categories %>
</div>

<div style="height: 30px;"></div>

