<div class="banner">
  <div class="background-image">
    <h1 class="mb-5 mt-5">How green are you?</h1>
    <%= link_to "Become greener", new_user_registration_path, class: 'home-ui-btn p-3' %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Go green:</h1>
      <div class="ui-card-grid">
        <div class="home-ui-card">
          <%= image_tag("green-world.svg")%>
          <p>Want to be greener? Sign up to the Greener app and start your greener life.</p>
        </div>

        <div class="home-ui-card">
          <%= image_tag("daily-challenge.svg")%>
          <p>See your daily challenges and get more information about greener choices.</p>
        </div>


        <div class="home-ui-card">
          <%= image_tag("category_pictures/waste.svg")%>
          <p>Complete your daily challenges and try to make it a habit 😊. </p>
        </div>

        <div class="home-ui-card">
            <%= image_tag("completed-challenge.svg")%>
          <p>Recive trees, badges and keep up and get your daily streaks.</p>
        </div>
      </div>
      <div class="team-info">
        <h2>Our team:</h2>
        <div class="team-ui-cards">
          <div class="team-ui-card">
            <%= image_tag("Team/Matthijs.jpg") %>
            <p>Matthijs:</p>
              <p><strong>Fullstack Developer</strong></p>
          </div>

          <div class="team-ui-card">
            <%= image_tag("Team/Philippa.png")%>
            <p>Philippa:</p>
            <p><strong>Frontend Developer</strong></p>
          </div>

          <div class="team-ui-card">
            <%=image_tag("Team/Svenia.jpg")%>
            <p>Svenia:</p>
            <p><strong>Frontend Developer</strong></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
