<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="challange-title">
        <h1><%= @challenge.title %></h1>
      </div>
      <%= image_tag(@challenge.image_url, class: 'challenge_image')  %>
      <p><%= @challenge.description %></p>
      <div class="daily-challange">
        <h3>Challange status:</h3>

        <%= simple_form_for([@challenge, @daily_progress]) do |f| %>
        <%= f.input :daily_challenge_completed, as: :radio_buttons, collection: DailyProgress::STATES %>

        <div class="submit-btn ">
          <%= f.submit "Submit" %>
        </div>
        <% end %>

        <div class='spacer'></div>

        <%= link_to "Go back to category #{@challenge.category.name.downcase}", category_path(@challenge.category), class: 'challenge-btn' %>

        <div class='spacer'></div>
      </div>
    </div>
  </div>
