<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="challange-title">
        <h1><%= @challenge.title %></h1>
      </div>
      <%= image_tag(@challenge.image_url, class: 'challenge_image')  %>
      <% @challenge.description.split('\n').each do |sentence| %>
        <p><%= sentence %></p>
      <% end %>

      <% unless current_user.challenge_completed?(@challenge) %>
        <h3>Challenge status:</h3>
        <%= form_tag complete_challenge_path do %>
        <div class="form-group">
          <%= radio_button_tag(:status, 'completed')  %>
          <%= label_tag(:status_completed, 'completed')   %>
        </div>
        <div class="form-group">
          <%= radio_button_tag(:status, 'not_possible') %>
          <%= label_tag(:status_not_possilbe, 'could not complete the challenge') %>
        </div>
        <div class="form-group">
          <%= radio_button_tag(:status, "not_completed") %>
          <%= label_tag(:status_not_completed, 'did not complete challenge')  %>
        </div>

        <%= submit_tag("Submit") %>
        <% end %>
      <% else %>
        <p class="alert-warning p-3">
          You've already completed this challenge!
        </p>
      <% end %>
      <div class="daily-challenge">

        <div class='spacer'></div>

        <%= link_to "Go back to category #{@challenge.category.name.downcase}", category_path(@challenge.category), class: 'challenge-btn' %>

        <div class='spacer'></div>
      </div>
    </div>
  </div>
