<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Greener - Welcome!</title>
    <meta name="description" content="I Am Greener is an app that will help you make greener choices in life">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="ui-navbar-spacing"></div>

    <%# Render collect badge page (empty by default) on the right side of the screen %>
    <%= render 'shared/collect-badge' %>

    <%= render 'shared/flashes' %>

    <main>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
